{
  "arrowParens": "avoid",
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "printWidth": 200,
  "tabWidth": 2
}
